*.~lock.*.odt#
*.odt#

*.bakedPhone.*
*.bakePhone.*
*.bakedPhone*
*.bakePhone*

# wait, I need to make sure it does not contain phone numbers and house addresses
Thesis/Secured Fill Thesis - Hexagon Engine.docx

# File duplicated, not important, I just need to make sure just in case.
/Lores/Homestuck/Duplicated
